body {
  font-family: "Merriweather Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  margin: 30px 30px;
}
.color-orange {
  color: orange;
}
.explore-button {
  text-decoration: none;
  background-color: pink;
  padding: 10px 30px;
  border-radius: 5px;
}
.top-section {
  display: flex;
  margin-bottom: 150px;
}
.flexible-container {
  width: 50%;
}
.flexible-container img {
  width: 60%;
}
.center {
  text-align: center;
}
.illustrator {
  height: 20%;
  width: 20%;
}
.three-box {
  display: flex;
}
.box-container {
  background-color: plum;
  height: 30%;
  width: 30%;
  margin: 2%;
  border-radius: 15px;
  padding: 40px 10px;
}
#vission {
  background-color: powderblue;
}
#goals {
  background-color: rgb(65, 225, 204);
}
